# humanstxt.org/
# Os humanos responsáveis & colofão da tecnologia

<h1 id="team">EQUIPA</h1>

<% for person in data.humans.team %>
    <%= person.name %> -- <%= person.role %> -- @<%= person.twitter %>
<% end %>

<h1 id="thanks">AGRADECIMENTO</h1>

<% for person in data.humans.contributors %>
    <%= person.name %> -- <%= person.role %> -- @<%= person.twitter %>
<% end %>
<% for person in data.humans.thanks %>
    <%= person.name %>
<% end %>

<h1 id="technology-colophon">COLOFÃO DA TECNOLOGIA</h1>

    <% for tech in data.humans.markup %><%= tech.name %>, <% end %>
    <% for tech in data.humans.style %><%= tech.name %>, <% end %>
    <% for tech in data.humans.behavior %><%= tech.name %>, <% end %>
    <% for tech in data.humans.misc %><%= tech.name %>, <% end %>iTerm
