---
title: Instalar o Sass
no_container: true
---

.sl-l-grid.sl-l-grid--full.sl-l-large-grid--fit.sl-l-large-grid--gutters-large
  .sl-l-grid__column
    :markdown
      ## Aplicações

      ![Mouse](illustrations/mouse.svg)


      Existem muitas boas aplicações que ajudar-te-ão a executar e trabalhar com a Sass em alguns minutos para Mac, Windows e Linux. Tu podes descarregar a maioria das aplicações gratuitamente e algumas delas tens que pagar por elas <small>(mas valem a pena)</small>.

    %ul
      %li
        = link_to "CodeKit", "https://codekitapp.com/"
        (Paga)
        Mac

      %li
        = link_to 'Prepros', 'https://prepros.io/'
        (Paga)
        Mac
        Windows
        Linux

    :markdown
      ## Bibliotecas

      A equipa da Sass mantêm dois pacotes de Node.js para Sass, ambos dos quais suportam a [API de JavaScript padrão][the standard JavaScript API]. O [pacote `sass`][`sass` package] é JavaScript puro, o qual é um pouco mais lento mas pode ser instalado em todas as plataformas que suportam a Node.js. O [pacote `sass-embedded`][`sass-embedded` package] envolve a API de JavaScript em torno da Máquina Virtual da Dart, assim é mais rápido mas apenas suporta Windows, Mac Os e Linux.

      [the standard JavaScript API]: /documentation/js-api
      [`sass` package]: https://www.npmjs.com/package/sass
      [`sass-embedded` package]: https://www.npmjs.com/package/sass-embedded

      Também existem envolvedores mantidos pela comunidade para as seguinte linguagens:

    %ul
      %li
        #{link_to 'Java', 'https://mvnrepository.com/artifact/de.larsgrefer.sass'},
        including
        #{link_to 'Gradle', 'https://docs.freefair.io/gradle-plugins/current/reference/#_embedded_sass'}
        and
        #{link_to 'Maven', 'https://github.com/HebiRobotics/sass-cli-maven-plugin'}
        plugins.

      %li
        #{link_to 'Ruby', 'https://github.com/ntkme/sass-embedded-host-ruby#readme'}

      %li
        #{link_to 'Swift', 'https://github.com/johnfairh/swift-sass#readme'}

  .sl-l-grid__column
    :markdown
      ## Linha de Comando

      ![Keyboard](illustrations/keyboard.svg)

      Quando instalares o Sass na linha de comando, serás capaz de executar o executável `sass` para compilar os ficheiros `.sass` e `.scss` para ficheiros `.css`. Por exemplo:

          sass source/stylesheets/index.scss build/stylesheets/index.css

      Primeiro instale o Sass usando uma das opções abaixo, depois execute `sass --version` para teres a certeza de que foi instalada corretamente. Se feita, isto incluirá `#{impl_version(:dart)}`. Tu também podes executar `sass --help` para mais informações sobre a interface da linha de comando.


      Uma vez que tudo estiver configurado, <strong>vai e experimente</strong>. Se fores novato para a Sass definimos alguns recursos para ajudar-te aprender muito rapidamente.

    %p= link_to 'Saiba Mais Sobre a Sass', '/guide', :class => 'sl-c-button sl-c-button--primary'

    %dl
      %dt Instalar em Qualquer Lugar (Standalone)

      %dd
        Tu podes instalar o Sass no Windows, Mac, ou Linux descarregando o pacote para o teu sistema operacional #{link_to 'from GitHub', release_url(:dart)} e <a href='https://katiek2.github.io/path-doc/'>adicionando-o ao teu <code>PATH</code></a>. É tudo — não existem dependências externas e não precisas de instalar nada mais.

      %dt Instalar em Qualquer Lugar (npm)

      %dd
        %p
          Se usas a Node.js, também podes instalar o Sass usando o <a href='https://www.npmjs.com/'>npm</a> executando:

        %pre
          :preserve
            npm install -g sass

        <strong>No entanto, nota</strong> que isto instalará a implementação de JavaScript pura de Sass, o qual executa um tanto mais lento do que as opções listadas aqui. Mas tem a mesma interface, então será fácil trocar por uma outra implementação mais tarde se precisares de um pouco mais de velocidade!

      %dt Instalar no Windows (Chocolatey)

      %dd
        %p
          Se usas o <a href='https://chocolatey.org/'>o gestor de pacote Chocolatey</a> para Windows, podes instalar a implementação de Dart de Sass executando:

        %pre
          :preserve
            choco install sass

      %dt Instalar no Mac OS X ou Linux (Homebrew)

      %dd
        %p
          Se usas o <a href='https://brew.sh/'>gestor de pacote Homebrew</a> para Mac Os X ou Linux, podes instalar a implementação de Dart de Sass executando:

        %pre
          :preserve
            brew install sass/sass/sass
