---
title: LibSass
introduction: >
  A LibSass é uma implementação de Sass em C/C++, desenhada para ser fácil de integrar em muitas diferentes linguagens. No entanto, a medida que o tempo passava lentamente terminou moroso atrás da [Sass de Dart](dart-sass) em funcionalidades e compatibilidade de CSS. A **LibSass está agora depreciada** — os novos projetos devem usar a Sass de Dart.
---

:markdown
  ## Invólucros

  A LibSass é apenas uma biblioteca. Para executares o código localmente (por exemplo, para compilares os teus folhas de estilos), precisas de um implementador, ou "invólucro". Existem um número de outros invólucros para LibSass. Nós encorajamos-te a escrever o teu próprio invólucros --- o objetivo da LibSass é precisamente que queremos levar a Sass para outras linguagens, não apenas Ruby!

  Abaixo estão invólucros de LibSass que estamos atualmente consciente. Algumas vezes existem vários invólucros por linguagem – nestes casos, colocamos primeiro o mais recentemente atualizado invólucro.

%ul.slides
  %li#sassc
    :markdown
      ### Sass C

      [SassC](https://github.com/sass/sassc) (percebeste?) é um invólucro escrito em C.

      Para executares o compilador na tua máquina local, precisas de construir a SassC. Para construíres a SassC, deves ter ou uma cópia local da fonte da LibSass ou deve estar instalada no teu sistema. Para desenvolvimento, use a versão da fonte. Tu deves então configurar uma variável de ambiente apontando para a pasta da LibSass, por exemplo:

    = partial 'code-snippets/libsass-setup'

    :markdown
      O executável estará na pasta `bin/`. Para o executares, tente algo como:

    = partial 'code-snippets/libsass-execute'

  %li#crystal
    :markdown
      ### Crystal

      [sass.cr](https://github.com/straight-shoota/sass.cr) é um invólucro de LibSass para a [linguagem de programação Crystal](https://crystal-lang.org/).

  %li#go
    :markdown
      ### Go

      [go-libsass](https://github.com/wellington/go-libsass) tem o mais ativo invólucro de GoLang. [gosass](https://github.com/moovweb/gosass) é um outro invólucro de LibSass.

      [C6](https://github.com/c9s/c6) é uma implementação compatível Sass 3.2 escrito na GoLang pura que tem por objetivo estender a Sass.
      [wellington/sass](https://github.com/wellington/sass) é um léxico, analisador, e compilador de Sass de Go puro em progresso.

  %li#java
    :markdown
      ### Java

      Existe um invólucro de Java --- [jsass](https://github.com/bit3/jsass).
      Existe também um extensão para Maven --- [extensão de Maven de LibSass](https://gitlab.com/haynes/libsass-maven-plugin).

  %li#javascript
    :markdown
      ### JavaScript

      O projeto [sass.js](https://github.com/medialize/sass.js) torna a LibSass disponível como JavaScript puro. Existe uma maneira de [testá-lo no navegador](http://medialize.github.io/playground.sass.js/), também.

  %li#lua
    :markdown
      ### Lua

      O invólucro de Lua é encontrado na [lua-sass](https://github.com/craigbarnes/lua-sass).

  %li#net
    :markdown
      ### .NET

      [LibSass Host](https://github.com/Taritsyn/LibSassHost) é regularmente atualizado, e é provavelmente a melhor aposta. Existe também [libsass-net](https://github.com/darrenkopp/libsass-net) ou [NSass](https://github.com/TBAPI-0KA/NSass), embora não tem sido atualizado por algum tempo.

  %li#node
    :markdown
      ### Node

      O projeto [node-sass](https://github.com/sass/node-sass) reconhecido ser popular, e levamos-o para o principal repositório da GitHub da Sass. Consulte a página do seu pacote [nesta ligação](https://www.npmjs.org/package/node-sass), e [existe uma conta de twitter dedicado](https://twitter.com/nodesass) por atualizações.

  %li#perl
    :markdown
      ### Perl

      O projeto [CSS::Sass](https://github.com/sass/perl-libsass) é atualizado regularmente. Existe o projeto [Text-Sass-XS](https://github.com/ysasaki/Text-Sass-XS), também, embora não tenha sido atualizado por algum tempo.

  %li#php
    :markdown
      ### PHP

      O projeto [SassPHP](https://github.com/absalomedia/sassphp) é uma bifurcação atualizada duma [versão de PHP mais antigo](https://github.com/jamierumbelow/sassphp).

  %li#python
    :markdown
      ### Python

      O projeto [libsass-python](https://github.com/sass/libsass-python) é atualizado regularmente. Existem muitos detalhes na [sua própria página](https://sass.github.io/libsass-python/).

      Outros três projetos de Python, [python-scss](https://github.com/pistolero/python-scss), [pylibsass](https://github.com/rsenk330/pylibsass) e [SassPython](https://github.com/marianoguerra/SassPython), não tem sido atualizados por algum tempo.


  %li#ruby
    :markdown
      ### Ruby

      A LibSass também tem sido transportada de volta para a Ruby para o projeto [sassc-ruby](https://github.com/sass/sassc-ruby).

  %li#r
    :markdown
      ### R

      O [pacote de Sass](https://github.com/rstudio/sass) de [R](https://www.r-project.org/) envolve a LibSass com métodos de empacotamento e armazenamento de consulta imediata adicionais. [Documentação estendida](https://rstudio.github.io/sass/).

  %li#rust
    :markdown
      ### Rust

      A caixa [`sass_rs`](https://github.com/compass-rs/sass-rs) é um invólucro de LibSass e é atualizado regularmente.

  %li#scala
    :markdown
      ### Scala

      O único projeto de Scala, [Sass-Scala](https://github.com/kkung/Sass-Scala), não tem sido atualizado por alguns anos.

%h2 Sobre a LibSass

:markdown
  Este projeto é a criação de [Hampton Catlin](http://twitter.com/hcatlin), o criador original de Sass, e é patrocinado pela [Moovweb](http://moovweb.com/). [Aaron Leung](http://github.com/akhleung) da Moovweb é o programador primário.

%figure
  = image_tag 'logos/libsass.png', alt: 'Logótipo da LibSass'

- content_for :navigation do
  %h2 Invólucros

  .sl-c-list-navigation-wrapper
    :markdown
      - [SassC](#sassc)
      - [Crystal](#crystal)
      - [Go](#go)
      - [Java](#java)
      - [JavaScript](#javascript)
      - [Lua](#lua)
      - [.NET](#net)
      - [Node](#node)
      - [Perl](#perl)
      - [PHP](#php)
      - [Python](#python)
      - [R](#r)
      - [Ruby](#ruby)
      - [Scala](#scala)

- content_for :complementary do
  %h2 Recursos

  %ul
    - for project in data.libsass.resources
      %li
        = link_to project.name, project.url
        &mdash;
        = project.description
