---
title: Componentes
---

%h2 Fechado
%dl.sl-c-description-list.sl-c-description-list--horizontal
  %div
    %dt Sass de Dart
    %dd ✓

  %div
    %dt Sass de Ruby

    %dd desde a 3.5.0

  %div= link_to '▶︎', '#'

%h2 Aberto
%dl.sl-c-description-list.sl-c-description-list--horizontal
  %div
    %dt Dart Sass
    %dd ✓

  %div
    %dt Ruby Sass

    %dd since 3.5.0

  %div= link_to '▼', '#'

.sl-c-callout
  %p= lorem.paragraph

%h2 Alertas
.sl-c-alert
  .sl-l-container
    %p
      %strong Alerta
      = lorem.sentence

.sl-c-alert.sl-c-alert--info
  .sl-l-container
    %p
      %strong Alerta de Informação
      = lorem.sentence

%h2 Botões
= link_to 'Ligação', '#', class: 'sl-c-button'
%button.sl-c-button(type='button') Botão

= link_to 'Link', '#', class: 'sl-c-button sl-c-button--primary'
%button.sl-c-button.sl-c-button--primary(type='button') Button

%h2 Chamadas
.sl-c-callout
  %h3 Chamada
  %p= lorem.paragraph

.sl-c-callout.sl-c-callout--warning
  %h3 Aviso
  %p= lorem.paragraph

.sl-c-callout.sl-c-callout--fun-fact
  %h3 Fato Divertido
  %p= lorem.paragraph

%h2 Introdução
%p.sl-c-introduction= lorem.paragraph

.sl-c-introduction
  %p= lorem.paragraph

%h2 Cabeçalhos de Ligação
%h2#link-header-2
  Cabeçalho de Ligação 2

%h3#link-header-3
  Cabeçalho de Ligação 3

%h4#link-header-4
  Cabeçalho de Ligação 4

%h2 Listas
.sl-c-list-navigation-wrapper
  :markdown
    - [Vertical](#)
    - [Navegação](#)
    - [Lista](#)

.sl-c-list-horizontal-wrapper
  :markdown
    - [Horizontal](#)
    - [Navegação](#)
    - [Lista](#)

%h2 Pop Stripe
.sl-c-pop-stripe

%h2 Tabelas
%table.sl-c-table
  %tr
    %td Tabela
    %td Tabela
